<div class="application">
  <section class="gradient-preview-container">
    <gradient-control
      [pointerArray]="pointerArray"
      [currentPointer]="currentPointer"
      (onCreatePointerEvent)="onCreatePointer($event)"
      (onPointerSelectEvent)="onPointerSelect($event)"></gradient-control>
  </section>
  <section class="color-picker-container">
    <color-picker
      [currentPointerColor]="currentPointer.pointerColor"
      (onCurrentPointerColorResetEvent)="onCurrentPointerColorReset()"
      (onCurrentPointerColorChangeEvent)="onCurrentPointerColorChange($event)"></color-picker>
  </section>
</div>
